<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anarchy-wrapper" version="0.6.3.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net47" />
  <package id="Newtonsoft.Json.Schema" version="3.0.11" targetFramework="net47" />
</packages>